body{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
}
#Nasc{
    margin-top: 15px;
}
section{
    background-color: white;
    margin-top: 100px;
    height: auto;
    width: 500px;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.485), -1em 0 0.4em rgba(0, 0, 0, 0.285);
    
}
#masc, #fem{
    border-radius: 10px;
    margin-left: 10px;

}
#fem{
    margin-left: 10px;
}
#BTN{
    width: 80px;
    margin-left: 80px;
}
#txtano{
    margin-top: 10px;
}

#foto{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
}